body {
  width: 100vh;
  font-family: roboto;
}

.main-header {
  height: 400px;
  background-color: #1F2937;
}

.main-header-container {
  border: 2px solid white;
  height: 250px;
  margin: 0 150px;
  padding-top: 10px;
}

.main-header-container .header {
  display: flex;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
  color: white;
}








.footer {
  background-color: #1F2937;
}